@font-face {
    font-family: 'Ubuntu';
    src: url('./../fonts/Ubuntu-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./../fonts/Ubuntu-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./../fonts/Ubuntu-Bold.ttf');
    font-weight: 900;
}