@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* @font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/ubuntu-regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/ubuntu-medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/ubuntu-bold.woff');
    font-weight: 700;
} */
