:root {
    --gray-1: #f1f1f1;
    --gray-2: #E8E8E8;
    --gray-3: #D4D8DC;
    --gray-4: #4C4F57;
    --gray-5: #31353E;
    --orange: #F4A937;
    --border-angle: 0turn;
    --border-size: 3px;
}

html, body {
    background-color: var(--gray-3);
    border-right: 5px solid var(--orange);
    border-bottom: 5px solid var(--orange);
    font-family: 'Ubuntu';
    font-weight: 400;
}

/*
* header portifolio
* content: Image wrap, Name, Role, Contact List
*/

/* Image Wrap */
.image-wrap, .image-wrap__internal {
    display: inline-block;
    border-radius: 100%;
}

.image-wrap {
    width: 227px;
    height: 227px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(244, 169, 55, 0.38)
}

.image-wrap__internal {
    width: 217px;
    height: 217px;
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
    margin: 5px 0 0 5px;
}

/* Profile User */
.profile-name {
    font-family: 'Ubuntu';
    font-weight: 900;
    color: var(--gray-5);
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}
.profile-role {
    font-weight: 500;
    color: var(--gray-4)
}

/* Contact List */
.contact-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* About me */
.title-bordered {
    position: relative;
    margin-top: 32px;
}

.title-bordered::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    bottom: -5px;
    left: 0;
    background: var(--orange);
}

.resume-text {
    margin-top: 16px;
    text-align: justify;
    line-height: 1.3;
}

.btn {
    flex: 1;
    padding: 8px 16px;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--gray-4);
    border-radius: 4px;
    margin-top: 12px;
    cursor: pointer;
    border-bottom: 3px solid var(--gray-2);
}

.btn.primary {
    background-color: var(--orange);
    color: var(--gray-1);
    border-bottom: 3px solid #c07d17;
}